@import url('https://fonts.googleapis.com/css2?family=Domine&family=Mulish:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@1,600;1,900&display=swap');
/*font-family: 'Domine', serif;*/
/*font-family: 'Mulish', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5vw;
    height: 100vh;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    font-family: 'Mulish';
    font-size: 20px;

}

.Auth-form {
    width: 520px;
    height: 650px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 30px;
    color: rgb(34, 34, 34);
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.left-column {
    width: 460px;
    background-color: white;
    height: 650px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: url("../../img/salmon-appetizer.jpg") no-repeat center;
    background-size: cover;

}

.background {
    position: absolute;
    z-index: -1;
    width: 98.5vw;
    height: 100vh;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    background: url("../../img/6702459.jpg") no-repeat;
    text-align: center;
    background-size: cover;
    filter: blur(20px);
}