.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    background: url('../../img/6702459.jpg') repeat;
    /*min-height: 100vh;*/
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.interior-home-container {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: 90vw;
    max-width: 1440px;
    /*min-height: 100vh;*/
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 5px;
    border: 1px solid #d7bf85;
}

.home-carousel {
    margin-top: 2rem;
    border: 1px solid bisque;
    max-width: 1200px;
    width: 80%;
    border-radius: 10px;
}




.recipes-container {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap:wrap;
    margin-top: 2rem;
    border: 1px solid bisque;
    max-width: 1200px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 100%; /*provizoriu*/
    /*flex-basis: auto;*/
    justify-content: space-evenly;
}