.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 96vh;
}

.interior-home-container {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: 90vw;
    max-width: 1440px;
    height: 90vh;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d7bf85;
}

.home-carousel {
    margin-top: 1rem;
    border: 1px solid bisque;
    max-width: 1200px;
    width: 88vw;
    border-radius: 10px;
}