.card-container {
    width: 18rem;
    /* height: 22rem; */
    background-color: #d7bf85;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid rgba(255, 255, 255, 0.469);
    box-shadow: 0px 0px 12px 9px #d7bf85;
}

.btns {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.card-title {
    display: table;
    text-align: center;
    vertical-align: middle;
    margin-top: 1rem;
}
.card-title p {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5rem;
}

.card-image img {
    width: 16rem;
    height: 16rem;
    /* width: 20rem; */
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

#card-details-btn {
    border: none;
    padding: 0.5rem 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    transition: all 0.3s;
}
#card-details-btn:hover {
    border: none;
    padding: 0.5rem 4rem;
    background-color: rgb(255, 119, 0);
}

.add-favourites {
    border: none;
    padding: 0.5rem 1.25rem;
    background-color: rgb(255, 225, 225);
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.add-favourites:hover {
    background-color: rgb(255, 34, 34);
    color: white;
    font-weight: bold;
    padding: 0.5rem 2.25rem;
}

@media screen and (max-width: 1300px) {
    .card-image img {
        width: 12rem;
        height: 12rem;
    }

    .card-container {
        width: 15.5rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .card-title p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1000px) {
    .card-image img {
        width: 10rem;
        height: 10rem;
    }

    .card-container {
        width: 13rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .card-title p {
        font-size: 1rem;
    }
}