@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

#logo-header {
    height: 80px;
    margin: 0 auto;
}

.me-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
    font-size: 1.5rem;
}

.header-link {
    font-family: 'Dosis', sans-serif;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}