@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

#logo-header {
    height: 80px;
    margin: 0 auto;
}

.me-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
    font-size: 1.5rem;
}

.header-link {
    font-family: 'Dosis', sans-serif;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.favourites {
    position: relative;
}

.bubble {
    position: absolute;
    top: -0.7rem;
    right: -1.5rem;
    color: rgb(255, 255, 255);
    height: 2rem;
    width:2rem;
    text-align: center;
    padding: 3px;
    border: 1px solid rgb(255, 161, 161);
    background-color: rgb(255, 105, 105);
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
}