
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.accordion-button {
    padding: 0;
}
.accordion-item {
    /* width: 60vw; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    margin: 0 auto;
}
.submit-button {
    display: inline-block;
    border: none;
    background-color: rgba(144, 238, 144, 0.31);
    width: 99%;
    padding: 7px;
    border-radius: 10px;
    margin:5px;
}


.accordion {
    margin-top: 1rem;
    width: 100%;
}

input {
    border: none;
    padding: 0.9rem;
    margin-bottom: 1px;
    width: 80%;
    display: inline-block;
    /* width: 97vw; */
}
i {
    margin-left: 1rem;
}

.accordion-button:focus {
    z-index: 3;
    border-color: rgba(255, 255, 255, 0);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.13);
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

